ConsoleApplication/Service References/WsFornecedores/IWsFornecedores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFornecedorDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FornecedorDB" nillable="true" type="tns:FornecedorDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFornecedorDB" nillable="true" type="tns:ArrayOfFornecedorDB" />
  <xs:complexType name="FornecedorDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RazaoSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedidos" nillable="true" type="tns:ArrayOfPedidoDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FornecedorDB" nillable="true" type="tns:FornecedorDB" />
  <xs:complexType name="ArrayOfPedidoDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDB" nillable="true" type="tns:PedidoDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDB" nillable="true" type="tns:ArrayOfPedidoDB" />
  <xs:complexType name="PedidoDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Prazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDB" nillable="true" type="tns:PedidoDB" />
</xs:schema>